.page-header
  %h1 Help

.row-fluid
  .span8
    %h2 Help articles
    %ul
      %li= link_to "Welcome to BoarderLine", welcome_help_path
      %li= link_to "Markdown help", markdown_help_path
      %li= link_to "News help", news_help_path

    %h2 Support
    %p Boarding staff are not able to provide technical support for BoarderLine, please direct any requests for help to the ICT Helpdesk, either via <a href="mailto:helpdesk@ccgs.wa.edu.au">email</a>, or in person to the Futuresphere.

    %p If you are a member of boarding staff and you require admin permissions, please contact the ICT Helpdesk.

  .span4
    .well
      %h2 About BoarderLine
      %p BoarderLine is an internal website for CCGS Boarders created by <a href="http://davblayn.com">David Blayney</a> using the <a href="http://rubyonrails.org">Ruby on Rails</a> web development framework.

      %p BoarderLine is designed to allow boarders to post feedback on the boarding program by posting in a socially-driven idea-based feedback system; and it allows staff members to post announcements to be read by students, as well as respond to ideas that are posted by students

      %p The source code for BoarderLine is available on <a href="https://github.com/davblayn/boarderline">Github</a>. If you find a bug or would like to post a suggestion, <a href="https://github.com/davblayn/boarderline/issues">post an issue on the Github repository</a>