.page-header
  %h1 Markdown

%p.lead Markdown is used to format news posts

%p When you visit a news article, BoarderLine converts the formatting information that was entered when the post was created, and converts it to HTML so a web browser can understand it. For example, <code>**Hello**, I'm writing *Markdown*</code> is converted to <code>&lt;strong&gt;Hello&lt;/strong&gt;, I'm writing &lt;em&gt;Markdown&lt;/em&gt;</code>

.row-fluid
  .span6
    %h2 Markdown entered
    %pre
      First level header
      \=================

      Second level header
      \-------------------

      **Bold text**

      *Italic text*

      * Unordered...
      * List

      1. Ordered...
      2. List

      &lt;http://google.com&gt; (link without text)

      [Link with text](http://google.com)

      ```
      \#block of code
      ```

      &gt; Quote

      \*Excape characters with backslash\*

  .span6
    %h2 Returned HTML
    .well
      %h1 First level header
      %h2 Second level header
      %p <strong>Bold text</strong>
      %p <em>Italic text</em>
      %ul
        %li Unordered...
        %li List
      %ol
        %li Unordered...
        %li List
      %p <a href="http://google.com">http://google.com</a> (link without text)
      %p <a href="http://google.com">Link with text</a>
      %pre #block of code
      %blockquote Quote
      %p *Escape characters with backslash*