<div class="page-header">
  <h1>Markdown</h1>
</div>

<p class="lead">
  Markdown is used to format news posts
</p>
<p>
  When you visit a news article, BoarderLine converts the formatting information that was entered when the post was created, and converts it to HTML so a web browser can understand it. For example, <code>**Hello**, I'm writing *Markdown*</code> is converted to <code>&lt;strong&gt;Hello&lt;/strong&gt;, I'm writing &lt;em&gt;Markdown&lt;/em&gt;</code>
</p>
<p>
  Markdown is only shown in the "show news post" page, not the page that lists all of the posts, so it is advisable to refrain from using Markdown in the first 150 characters.
</p>
