<div class="page-header">
  <h1>News help</h1>
</div>

<div class="row-fluid">
  <div class="span3">
    <h2>Permissions</h2>
    <p class="lead">
      Who can read news posts?<br>
      <span class="label permission">Anyone</span>
    </p>

    <p class="lead">
      Who can create news posts?<br>
      <span class="label label-warning permission">Staff</span>
    </p>

    <p class="lead">
      Who can edit and delete news posts?<br>
      <span class="label label-warning permission">Staff</span>
    </p>
  </div>

  <div class="span9"> 
  </div>
</div>