<div class="page-header">
  <h1>Welcome to BoarderLine</h1>
</div>

<p class="lead">
  It's like <a href="http://intranet.ccgs.wa.edu.au">"Intranet"</a>, but for boarders
</p>

<p>
  Imagine a website where you could see all of the announcements for the week, and post ideas on how boarding can be improved; all in one place. Welcome to the world of BoarderLine
</p>

<p>
  With that clichéd introduction out of the way, here are a few pointers that you should read before creating an account.
</p>

<div class="row-fluid">
  <div class="span6 well">
    <h2>Three simple rules</h2>
    <ol>
      <li>
        <strong>This is a school site</strong> so show respect to other students and staff members. The rule of thumb is this: <em>Do not say anything on BoarderLine that you wouldn't say to a student or staff member in person</em>
      </li>
      <li>
        <strong>Never impersonate anyone</strong>. Ever. If you impersonate someone on BoarderLine (be it a staff member or student), you will be caught and will face sanctions.
      </li>
      <li>
        <strong>If your password is known</strong> by a staff member or another student you must report to ICT Services immediately to have it changed. Do not set your BoarderLine password to the same password you have on the school computer system or Synergetic for security reasons.
      </li>
    </ol>
  </div>
  
  <div class="span5">
    <h2>Feedback rules</h2>
    Once BoarderLine Ideas is launched, there will be some rules here.
  </div>
</div>