<div class="page-header">
  <h1>Welcome to BoarderLine</h1>
</div>

<p class="lead">
  It's like <a href="http://intranet.ccgs.wa.edu.au">"Intranet"</a>, but for boarders
</p>

<p>
  Imagine a website where you could see all of the announcements for the week, and post ideas on how boarding can be improved; all in one place. Welcome to the world of BoarderLine
</p>

<p>
  With that clichéd introduction out of the way, here are a few pointers that you should read before creating an account.
</p>