// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-list > li {
  padding: 0 10px;
  border: 1px solid #C4C4C4;
  margin: 10px 0 10px -20px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
}

.home-list > li:hover {
  background-color: #F5F5F5;
}

.home-list >li small {
  color: #A1A1A1;
}

.home-list > li a {
  color: black;
  text-decoration: none;
}